section {
    text-align: left;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
}

.profile-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    display: flex;
}

.profile-pic {
    border-radius: 5%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 320px;
}

#about {
    width: 75%;
}

#image {
    width: 25%;
    font-size: 24px;
    /* 字體大小固定為24像素 */
    text-align: center;
}

#image p {
    margin: 0;
}

.information-container {
    display: flex;
    /* 使用 Flexbox 讓子元素並排 */
    justify-content: space-between;
    /* 在子元素之間保持間距 */
    gap: 20px;
    /* 增加區塊之間的間距 */
    padding: 20px;
    /* 為整個容器增加內邊距 */
}

#education,
#achievement {
    background: #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    /* 讓區塊邊角變圓 */
    padding: 20px;
    /* 區塊內的邊距 */
    flex: 1;
    /* 讓每個 section 區塊均等分佈 */
    box-sizing: border-box;
    /* 確保 padding 不影響寬度 */
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    /* 增加標題與內容之間的距離 */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav {
    background: #333;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}



h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

/* IMAGE */
.prize-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/prize.png') no-repeat left center;
    background-size: 20px 20px;
}

.BC-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/BC.png') no-repeat left center;
    background-size: 20px 20px;
}

.IM-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/IM.png') no-repeat left center;
    background-size: 20px 20px;
}

.LSM-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/LSM.png') no-repeat left center;
    background-size: 20px 20px;
}

.ECO-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/ECO.png') no-repeat left center;
    background-size: 20px 20px;
}

/* IMAGE */
.BD-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/BD.png') no-repeat left center;
    background-size: 20px 20px;
}

.gender-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/gender.png') no-repeat left center;
    background-size: 20px 20px;
}

.github-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/github.png') no-repeat left center;
    background-size: 20px 20px;
}

.interest-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/interest.png') no-repeat left center;
    background-size: 20px 20px;
}

.linkdin-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/linkdin.png') no-repeat left center;
    background-size: 20px 20px;
}

.medium-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/medium.png') no-repeat left center;
    background-size: 20px 20px;
}

/* AWS Certified Images */
.CCP-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/CCP.png') no-repeat left center;
    background-size: 20px 20px;
}

.AIF-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/AIF.png') no-repeat left center;
    background-size: 20px 20px;
}

.MLA-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/MLA.png') no-repeat left center;
    background-size: 20px 20px;
}

.DEA-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/DEA.png') no-repeat left center;
    background-size: 20px 20px;
}

.DVA-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/DVA.png') no-repeat left center;
    background-size: 20px 20px;
}

.MLS-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/MLS.png') no-repeat left center;
    background-size: 20px 20px;
}

.SAA-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/SAA.png') no-repeat left center;
    background-size: 20px 20px;
}

/* Python Image */
.python-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/python.png') no-repeat left center;
    background-size: 20px 20px;
}

/* SQL Image */
.SQL-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/SQL.png') no-repeat left center;
    background-size: 20px 20px;
}

/* TOEIC Image */
.TOEIC-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/TOEIC.png') no-repeat left center;
    background-size: 20px 20px;
}

.GCP-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/GCP.png') no-repeat left center;
    background-size: 20px 20px;
}

.linkedin-icon {
    list-style: none;
    padding-left: 30px;
    background: url('image/linkedin.png') no-repeat left center;
    background-size: 20px 20px;
}